@use "global" as *;


.aside {
  margin: 0 auto;
  max-width: rem(600);

  @include mq(md) {
    max-width: rem(294);
    width: 100%;
  }
}

.aside__title {
  border-left: 8px solid $blue;
  max-width: rem(294);
  width: 100%;
}

.aside__title span {
  font-size: rem(24);
  font-weight: $regular;
  display: inline-block;
  padding-top: rem(8);
  padding-left: rem(76);
  padding-bottom: rem(5);
  position: relative;
}


.aside__title span::before {
    content: "";
    background-image: url("../images/common/whale_black.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: rem(50);
    position: absolute;
    top: 50%;
    left: rem(15);
    transform: translateY(-50%);
    vertical-align: middle;
    width: rem(50);
}

.aside__content {
  margin-top: rem(24);
}

.aside__voice {
  margin-top: rem(84);
}

.aside__campaign {
  margin-top: rem(84);
  width: 100%;
}

.aside__archive {
  margin-top: rem(84);
}
