@use "global" as *;

.aside-post__cards {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(23);
}


.aside-post__card a {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  gap: rem(16);
  max-width: rem(650);
  padding: rem(16);
  width: 100%;

  @include mq(md){
    max-width: rem(294);
  }
}

.aside-post__img {
  aspect-ratio: 121 / 90;
  overflow: hidden;
  width: 100%;
  @include mq(md){
    max-width: rem(121);
  }
}

.aside-post__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.aside-post__content {
  width: 100%;
  @include mq(md){
    max-width: rem(125);
  }
}

.aside-post__date {
  display: block;
  font-family: $english-font;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
}

.aside-post__card-title {
  font-size: rem(16);
  font-weight: $regular;
  margin-top: rem(8);
}
