@use "global" as *;

.campaign {
  position: relative;
}

.campaign::before {
  content: "";
  background-image: url("../images/common/fish-to-right_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(55 / 375 * 100vw);
  max-width: rem(120);
  position: absolute;
  top: rem(-25);
  left: calc(50% - min(46vw, rem(619)));
  width: 100%;
  z-index: 1;

  @include mq(md){
    top: rem(-70);
    height: calc(138 / 1440 * 100vw);
    max-width: rem(301);
    z-index: -1;
  }
}
.campaign__inner.inner {
  max-width: rem(600);

  @include mq(md){
    max-width: rem(1130);
  }
}

.campaign__cards {
  margin-top: rem(40);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(37);

  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
    width: 100%;
  }
}


.campaign__detail {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.campaign__text {
  margin-top: rem(24);
}

.campaign__text p{
  text-align: left;
}

.campaign__info {
  margin-top: rem(32);
  text-align: center;
}

.campaign__date {
  color: $blue;
  display: block;
  font-family: $price-font;
  font-weight: $bold;
  line-height: calc(18 / 16);
}

.campaign__link {
  color: $blue;
  display: block;
  font-size: rem(14);
  line-height: calc(18 / 14);
  margin-top: rem(7);
}

.campaign__btn {
  margin-top: rem(16);
  text-align: center;
}

.campaign__paginavi {
  margin-top: rem(80);
  max-width: rem(344);
  width: 100%;

  @include mq(md) {
    max-width: rem(444);
    width: 100%;
  }
}

.campaign__pagenavi {
  margin-top: rem(78);
}
