@use "global" as *;

.campaign-card {
  background-color: #fff;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.campaign-card__img img {
  aspect-ratio: 280 / 188;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  @include mq(md) {
    aspect-ratio: 333 / 223;
  }
}
.campaign-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24) rem(16) rem(40);
}

.campaign-card__header {
  border-bottom: 1px solid $blue;
  padding-bottom: rem(7);
}

.campaign-card__title {
  font-weight: $medium;
  line-height: calc(24 / 16);
  margin-top: rem(4);
}

.campaign-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.campaign-card__text {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  margin-top: rem(8);
  text-align: center;

  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(16);
    line-height: calc(24 / 16);
  }
}

.campaign-card__price {
  display: flex;
  align-items: baseline;
  gap: rem(16);
  justify-content: center;
  font-family: $price-font;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(8);
}

.campaign-card__price-regular {
  font-size: rem(20);
  text-decoration: line-through solid #C94800 3px;

  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__price-discounted {
  color: $blue;
  font-size: rem(32);

  @include mq(md) {
    font-size: rem(40);
  }
}

.campaign__cards--two-column .campaign-card__body {

  @include mq(md) {
    padding: rem(20) rem(24) rem(40);
  }
}

.campaign-card.campaign-card--two-column .category {
  @include mq(md) {
    padding: rem(5) rem(16);
  }
}

.campaign-card.campaign-card--two-column .campaign-card__title {
  margin-top: rem(5);

  @include mq(md) {
    font-size: rem(24);
    padding-bottom: rem(4);
  }
}

.campaign-card.campaign-card--two-column .campaign-card__price {
  @include mq(md) {
    gap: rem(41);
  }
}

.campaign-card__detail {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.campaign-card__text {
  margin-top: rem(24);
}

.campaign-card__text p{
  text-align: left;
}

.campaign-card__info {
  margin-top: rem(32);
  text-align: center;
}

.campaign-card__date {
  color: $blue;
  display: block;
  font-family: $price-font;
  font-weight: $bold;
  line-height: calc(18 / 16);
}

.campaign-card__link {
  color: $blue;
  display: block;
  font-size: rem(14);
  line-height: calc(18 / 14);
  margin-top: rem(7);
}

.campaign-card__btn {
  margin-top: rem(16);
  text-align: center;
}
