@use "global" as *;

.contact {
  position: relative;
}

.contact::before {
  content: "";
  background-image: url("../images/common/fish-to-right_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(55 / 375 * 100vw);
  max-width: rem(120);
  position: absolute;
  top: rem(-25);
  left: calc(50% - min(46vw, rem(619)));
  width: 100%;
  z-index: 1;

  @include mq(md) {
    top: rem(-70);
    height: calc(138 / 1440 * 100vw);
    max-width: rem(301);
    z-index: -1;
  }
}

.contact__inner.inner {
  max-width: rem(600);

  @include mq(md) {
    max-width: rem(750);
  }
}

.contact__error-message {
  color: #C94800;
  display: none;
  font-size: rem(14);
  max-width: rem(238);
  margin: auto;
  padding-left: 1em;
  display: none;

  @include mq(md) {
    max-width: rem(364);
    text-align: center;
  }
}

.contact__error-message::before {
  content: "※";
  display: inline-block;
  margin-left: -1em;
}

.contact__error-message.is-error {
  display: block;
}

.contact__error-message.is-error + .contact__form {
  margin-top: rem(40);
}
