@use "global" as *;

$drawer-color: $white;
$drawer-height: rem(1);
$drawer-width: rem(32);

.hamburger {
  position: relative;
  height: inherit;
  width: $drawer-width;
  z-index: 9999;

    @include mq(md) {
      display: none;
    }
}

.hamburger span {
  background-color: $drawer-color;
  border-radius: 1px;
  display: block;
  height: $drawer-height;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: ease 0.3s;
  width: $drawer-width;
}

.hamburger span:nth-child(1) {
  transform: translateY(rem(-13));
}

.hamburger span:nth-child(3) {
  transform: translateY(rem(11));
}

.hamburger.is-open span:nth-child(1) {
  transform: rotate(36.87deg) scale(1.25);;
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  transform: rotate(-36.87deg) scale(1.25);
}
