@use "global" as *;

.info-card {
  border: 2px solid $blue;
  display: none;
  padding: rem(22);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.info-card.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.info-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(15);

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    gap: rem(48);
  }
}

.info-card__content {
  @include mq(md) {
    max-width: rem(492);
    line-break: strict;
    width: 100%;
  }
}

.info-card__title {
  border-bottom: 1px solid $blue;
  color: $black;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(30);
  padding-bottom: rem(9);

  @include mq(md) {
    margin-top: 0;
  }
}

Ï .info-card__text {
  margin-top: rem(8);
}


.info-card__img {
  aspect-ratio: 297 / 189;
  overflow: hidden;
  width: 100%;

  @include mq(md) {
    aspect-ratio: 492 / 313;
    max-width: rem(492);
  }
}

.info-card__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
