@use "global" as *;

.site-title__logo {
  display: flex;
  align-items: center;
  height: inherit;
  transition: 0.3s ease;
  position: relative;
  z-index: 99;
}

.site-title__logo:hover {
  opacity: .7;
  transition: 0.3s ease;
}


.site-title__logo {
  max-width: rem(102);
  width: 100%;

  @include mq(md){
    max-width: rem(133);
  }
}

.site-title__logo--md {
  max-width: rem(120);

  @include mq(md){
    max-width: rem(200);
  }
}

.site-title__logo--lg{
  height: rem(65);
  max-width: rem(174);
  margin: auto;
  width: 100%;

  @include mq(md){
    height: rem(75);
    max-width: rem(200);
    width: 100%;
  }
}
