@use "global" as *;


.table__item {
  @include mq(md){
    display: flex;
  }
}

.table__item + .table__item {
  margin-top: rem(38);

  @include mq(md){
    margin-top: rem(80);
  }
}

.table__title {
  background-color: $blue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  font-size: rem(16);
  line-height: calc(24 / 16);
  padding: rem(8);
  text-align: center;

  @include mq(md){
    flex-direction: column-reverse;
    width: 28.571429%;
  }
}

.table__title::before {
  content: "";
  background-image: url("../images/common/whale_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(24);
  width: rem(24);

  @include mq(md){
    height: rem(64);
    width: rem(64);
  }
}


.table__cells {
  border: 1px solid $blue;

  @include mq(md){
    width: 71.428571%;
  }
}

.table__row {
  display: flex;
  flex-wrap: wrap;
}

.table__row:not(:first-child) {
  border-top: 1px solid $blue;
}

.table__row dt {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem(59.5);
  text-align: center;
  width: 69%;

  @include mq(md){
    justify-content: initial;
    min-height: rem(58);
    padding: rem(16);
    text-align: left;
    width: 67%;
  }
}

.table__row dd {
  border-left: 1px solid $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem(59.5);
  text-indent: 1em;
  width: 31%;

  @include mq(md){
    justify-content: flex-end;
    min-height: rem(58);
    padding: rem(16);
    width: 33%;
  }
}

