@use "global" as *;

.top-about {
  position: relative;
}

.top-about::after {
  display: none;

  @include mq(md) {
    content: "";
    background-image: url("../images/common/coral.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: rem(181);
    overflow: hidden;
    position: absolute;
    bottom: -12%;
    right: calc(50% - min(48vw, rem(637)));
    width: rem(194);
  }
}

.top-about__inner.inner {
  max-width: rem(600);

  @include mq(md){
    max-width: rem(1130);
  }
}

.top-about__images {
  margin-top: rem(62);
  position: relative;

  @include mq(md) {
    margin-top: rem(124);
  }
}

.top-about__images img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.top-about__img-left {
  width: calc(128 / 345 * 100%);
  overflow: hidden;
  position: absolute;
  top: -16%;

  @include mq(md) {
    top: -14%;
  }
}

.top-about__img-right {
  margin-left: auto;
  width: calc(281 / 345 * 100%);
}

.top-about__contents {
  margin-top: rem(38);

  @include mq(md) {
    color: $white;
    display: flex;
    gap: 4.8%;
    margin-top: 0;
    margin-left: calc(251 / 1440 * 100%);
    max-width: rem(840);
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 5;
  }
}

.top-about__contents-title {
  color: $blue;
  font-family: $english-font;
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1;
  text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

  @include mq(md) {
    color: $white;
    font-size: rem(80);
    line-height: calc(100 / 80);
    max-width: rem(400);
    width: 100%;
  }
}

.top-about__content {
  @include mq(md) {
    max-width: rem(400);
    width: 100%;
  }
}

.top-about__text {
  margin-top: rem(16);
  text-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);

  @include mq(md) {
    margin-top: 0;
  }

}

.top-about__btn {
  margin-top: rem(23);
  text-align: center;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.top-about__drawing {
  display: none;

  @include mq(md) {
    display: block;
    overflow: hidden;

  }
}
