@use "global" as *;

.voice {
  position: relative;
}

.voice::before {
  content: "";
  background-image: url("../images/common/fish-to-right_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(55 / 375 * 100vw);
  max-width: rem(120);
  position: absolute;
  top: rem(-25);
  left: calc(50% - min(46vw, rem(619)));
  width: 100%;
  z-index: 1;

  @include mq(md){
    top: rem(-70);
    height: calc(138 / 1440 * 100vw);
    max-width: rem(301);
    z-index: -1;
  }
}

.voice__inner.inner {
  max-width: rem(600);

  @include mq(md){
    max-width: rem(1130);
  }
}

.voice__cards {
  margin-top: rem(40);
}

.voice__pagenavi {
  margin-top: rem(80);

  @include mq(md){
    margin-top: rem(72);
  }
}
