@use "global" as *;

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap--gr {
  background-color: $blue;
  padding-top: rem(80);
  padding-bottom: rem(40);

  @include mq(md){
    padding-top: rem(90);
    padding-bottom: rem(150);
  }
}

.wrap--gr .breadcrumbs span {
  color: $white;
}

.wrap--gr .breadcrumbs span:not(:first-child)::before {
  border-right: 1px solid $white;
  border-top: 1px solid $white;
}
